<h1>Add an Article</h1>

<form action='/articles' method='POST'>
    <label for='title'>Article Title: </label><br>
        <input type='text' name='title' id='title'/><br>
    <label for='content'>Content:</label><br>
        <textarea name='content' id='content' columns=15 rows=5></textarea>
        <input type='submit' value='submit'>
</form>