<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Articles</title>
  </head>
  <body>
    <h1> New Article!</h1>
    <form method="POST" action="/articles">
    <p> Article's Title: <input type='text' name='title'></p>
    <br>
    <p>Put in the content for this article:</p>
    <textarea placeholder="Enter the content here..." name="content" cols=80 rows=6 ></textarea>
    <br>
    <button id='submit' type="submit" value="Submit">Submit</button>
    </form>
  </body>
</html>