<h1> Title: <%= @article.title %></h1><br>
<h2><%= @article.content %></h2>



<a href='/articles' >
    <p>Go Back to List of Articles</p>
</a>

<form method="post" action="/articles/<%= @article.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>

