<p>  title: <%=@article.title%> <p>

<p>  content: <%=@article.content%> <p>

  <a href='/articles/<%= @article.id %>'>Click here to edit this article.<a/>
  <br>
  <a href='/articles'>Click here to go to the article list.</a>
  <br>
  <a href='/articles/new'>Click here to add a new article!</a>




  <form method="post" action="/articles/<%= @article.id %>">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete!">
          </form>
